html {
  height: 100%;
  width: 100%;
}
BODY{
  background-color: #03AED2;
}
.conten1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.conten1 img{
  height: 100px;
}
p{
  font-size: 60px;
  margin:30px;
  color: #FDDE55;
}
.pastel img{
  height: 400px;
}
.pastel{
  display:flex;
  justify-content: center;
  align-items: center;
}
.conten2{
  display: flex;
  justify-content: center;
  align-items: center;
}